<html>
	<head>
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/trix/0.9.2/trix.css">
		<title>Avenger Collaborative Document Editor - CS223</title>
	</head>
	<body ng-app="myApp">
		<div ng-controller="myController" style="padding:10px">
		    
			<!-- div contenteditable="true" class="texteditor" ng-change="insertText()" style="height:300px">
				<span ng-trim = "true" ng-repeat="ppsItem in pps.ppsItems" ng-show="ppsItem.state">{{ppsItem.item}}</span>
				
                 trix-selection-change="trixSelectionChange(e, editor);" 
			</div-->
			<div>
			 <trix-editor class="trix-content" angular-trix trix-change="trixChange(e, editor);" 
			     trix-initialize="trixInitialize(e, editor);" trix-focus="trixFocus(e, editor);" 
			     trix-selection-change="trixSelectionChange(e, editor);" ng-model="textContent">
			 </trix-editor>
			</div>
			
		</div>
		<script src = "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/trix/0.9.2/trix.js"></script>
		<script src="web/js/angular-trix.min.js"></script>
		<script src = "web/js/app.js"></script>
	</body>
	
</html>	